venv/
.env
__pycache__/
*.pyc
instance/

# Archivos de instrucciones
ActividadPUCE.md
Tutorial_Completo_PasoAPaso_Semana1*.md
Tutorial_Completo_PasoAPaso_Semana2.md
Tutorial_Completo_PasoAPaso_Semana3.md
